/* CSS variables */
* {
    box-sizing: border-box;
}
h1, h2, h4, p { 
    color: white;
}
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  }
  
  html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    
  }
  
  .btn {
    background-color:  rgba(119, 117, 117, 0.67);
    color: white;
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
  }

.btn:hover {
    color: rgba(71, 70, 70, 0.67)
  }

body {
    display: grid;
    grid-gap: 20px;
    background-image: url(/img/saguaronight.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 2em; 
    line-height: 1.4;
    background-size: cover;
}

/* Navigation */
nav ul {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
}
  
nav a {
    color: gray;
    display: block;
    text-decoration: none;
    
    
}

nav a:hover {
    color: white;
   
}
/* end navigation */

.title {
    display: inline-block;
    height: 50vh;
    text-align: center;
    padding-top: 2em;
    color: white;    
    font-size: 25px;
}



#blurb {
    text-align: center;
    border-style: solid;
    border-width: thin;
    color: white;
    padding: 3em;
    border-radius: 10px;
    
}
.content {
    display: inline;
    
 
    /*  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5px, 1fr));
    justify-content: space-between;
    padding: 0;
    margin: 0;  
    */
}



.skill {
    margin: 1em;
    text-align: baseline;
    background-color: rgba(119, 117, 117, 0.67);
    padding: 1.5em;
    border-radius: 10px;
  
    
}

.skill:hover {background-color: rgba(71, 70, 70, 0.67);}

.works {
    display: block;
    border-radius: 10px;
}

.card-img-top {
    padding: 2em;
}
.card-body {
    padding: auto;
}
.slide {
    text-align: center;
    background-color: rgba(119, 117, 117, 0.67);
    border-radius: 25px;
    margin: 2em;
}
.slide:hover {background-color: rgba(71, 70, 70, 0.67);}

   /* centers "more works button */
   div {
    padding-top: 0;
    text-align: center;
}
#cta {
    display: inline;
    padding: 35px;
    text-align: center;
    border-color: white;
    border-width: thin;
    border-style: solid;
    border-radius: 10px;
}

.footer p {
    color:white;
    text-align: right;
    opacity: 25%;    
}

 





   
