/* CSS variables */
* {
    margin: 0;
    padding: 0;
}
h1, h2, h4, p { 
    color: white;
}
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  }
  
  html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    
  }
  
  .btn {
    background-color:  rgba(119, 117, 117, 0.67);
    color: white;
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
  }

.btn:hover {
    color: rgba(71, 70, 70, 0.67)
  }

body {
    display: grid;
    grid-gap: 20px;
    background-image: url(/img/saguaronight.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 2em; 
    line-height: 1.4;
    
}

/* Navigation */
nav ul {
    display: grid;
    
    
    list-style: none;
    grid-template-columns: repeat(5, minmax(5px, 1fr));
}
  
nav a {
    color: white;
    display: block;
    text-decoration: none;
    
    
}

nav a:hover {
    color: white;
    transform: scale(1.5); 
    transition: all .2s ease-in-out;
}
/* end navigation */

.title {
    display: inline-block;
    height: 50vh;
    text-align: center;
    padding-top: 2em;
    color: white;    
    font-size: 25px;
}



#blurb {
    text-align: center;
    border-style: solid;
    border-width: thin;
    color: white;
    padding: 5em;
    
}
.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5px, 1fr));
    justify-content: space-between;
    padding: 0;
    margin: 0;
}



.skill {
    margin: 1em;
    text-align: baseline;
    background-color: rgba(119, 117, 117, 0.67);
    padding: 1.5em 1em 0 1em;
    
}

.skill:hover {
    
    background-color: rgba(71, 70, 70, 0.67);
}

#cta {
    padding: 35px;
    text-align: center;
    border-color: white;
    border-width: thin;
    border-style: solid;
}

.footer p {
    color:white;
    text-align: right;
    opacity: 25%;    
}

#works {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr;
    margin: 0;
    grid-gap: 20px;   
}   

.slide {
    text-align: center;
    
    background-color: rgba(119, 117, 117, 0.67);
   }
   .slide:hover {
    background-color: rgba(71, 70, 70, 0.67);
   }
div {
    padding-top: 0;
    text-align: center;
}

@media only screen and (max-width: 480px ) {
    
  
        .container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }
    .works{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        
    }

        

} 

   
