
*{
    margin: 0;
}

#navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  #navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: #4CAF50;
    color: white;
  }

  h1 {
      text-align: center;
      margin: 2em;
  }


  
  
.container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-gap: 1em;
  }

  img {
      width: 80%;
      justify-content: center;
  }

.card{
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    margin: auto;
    justify-content: center;
    padding: 2em;
}

@media screen and (max-width: 700px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}
